* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;

  --font-gray: darkgray;
  --header-width: 200px;
  --footer-height: 60px;
  --banner-height: 60px;
}
.navHidden {
  display: none;
}

/* CONTAINER */

body > div:first-child {
  height: calc(100vh - var(--footer-height));
  width: 100%;
}
body > div:last-child {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* HEADER*/
/* NAVIGATORE */
/* hover */
.gray:hover {
  color: white;
}
li:hover a {
  color: white;
}
/* fine hover */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  float: left;
  width: var(--header-width);
  height: 100%;
  font-size: 1.1rem;
}
.logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0.7rem 1.4rem;
  margin-bottom: 0.5rem;
}
.two {
  visibility: hidden;
}
header ul {
  font-size: 0.8em;
  list-style: none;
}
header .playlist ul {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
header ul li {
  margin-bottom: 0.8rem;
}
header div ul li a img {
  width: 1.4625rem;
  height: 1.3rem;
}
#white {
  color: white;
}
.gray {
  font-size: 1rem;
  color: var(--font-gray);
}
a,
a:visited {
  color: var(--font-gray);
  text-decoration: none;
  cursor: pointer;
}
img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
/* navUp */
nav ul li {
  font-size: 0.8em;
  font-weight: bold;
}
nav ul > li:first-child {
  position: relative;
}
nav ul > li:first-child hr {
  border-color: lightgreen;
  width: 35%;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-35%);
}
.navUp > div:nth-child(2),
.navUp > div:last-child {
  padding-left: 15px;
}
.navUp > div:last-child h3 {
  margin: 1.5rem 0 0.5rem 0;
}
.navUp > div:last-child div:only-of-type i {
  transform: scale(150%);
  padding: 5px;
  margin-bottom: 1rem;
}
header h3 {
  font-size: 16px;
}
/* navDown */
.navDown {
  width: 80%;
  margin: 0 auto;
}
.navDown i {
  margin: 0.5rem 0.5rem 0.5rem 0rem;
}
/* FINE HEADER */

/* MAIN */
/* hover main */
main button:hover {
  transform: scale(110%);
}
.card .card-img:hover i {
  visibility: visible;
}
/* fine hover main */
main {
  text-decoration: none;
  align-self: flex-end;
  width: calc(100% - var(--header-width));
  height: 100%;
  float: left;
}
.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--banner-height);
  width: 100%;
  background-color: rgb(8, 11, 11);
}
.banner .button {
  font-size: 0.8em;
  text-align: center;
  background-color: transparent;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  border: 1.5px solid white;
  padding: 0.55rem 2rem;
  z-index: 2;
}
.content {
  padding: 15px;
  background-color: rgb(20, 25, 25);
  height: calc(100% - var(--banner-height));
  overflow-y: auto;
  width: 100%;
}
.content nav {
  display: flex;
  justify-content: center;
  text-align: center;
}
.content nav ul li {
  margin: 0.5rem;
  display: inline-block;
}
.cards {
  margin: 0 -0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards .card {
  position: relative;
  flex: 0 1 auto;
  margin: 0 0.5rem;
  width: calc((100% / 6) - 1rem);
}
.line:last-child img {
  border-radius: 50%;
}
.card .card-img {
  position: relative;
}
.card .card-img i {
  visibility: hidden;
  position: absolute;
  transform: scale(250%) translate(-25%, -25%);
  top: 50%;
  left: 50%;
}
.line p {
  font-size: 12px;
  color: var(--font-gray);
}
.cards .card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.cards .card p {
  margin-top: 0.2rem;
}
.content section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content section h1 {
  margin: 1rem 0;
}
.content section .line:nth-child(2) {
  margin: 2rem 0;
}
.content section .line h5 {
  margin-top: 0.8rem;
}

/* FOOTER */
/* hoover */
.central:hover hr:first-child {
  border-color: lightgreen;
  position: relative;
}
.central:hover .fa-dot-circle {
  visibility: visible;
}
.right:hover hr:first-child {
  border-color: lightgreen;
}
.right:hover .fa-dot-circle {
  visibility: visible;
}
.center.down,
.right div:last-child {
  position: relative;
}
.fa-dot-circle {
  visibility: hidden;
  transform: scale(50%) translateY(125%);
  position: absolute;
  bottom: 1px;
}
.center.down .fa-dot-circle {
  left: 17%;
}
.right .fa-dot-circle {
  left: 35%;
}
/* fine hoover */
footer {
  display: flex;
  justify-content: space-between;
  height: var(--footer-height);
  width: 100%;
  background-color: rgb(40, 40, 40);
  z-index: 1;
}
/* footer left */
footer .left {
  background-color: rgb(40, 40, 40);
  display: flex;
  font-size: 0.8rem;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 1 200px;
  min-width: 90px;
  margin-right: 1.5rem;
}
footer .left div:nth-child(2) p:first-child {
  font-size: 0.6rem;
  font-weight: bold;
}
footer .left div:nth-child(2) p:last-child {
  font-size: 0.5rem;
  color: var(--font-gray);
}
footer .left > div:first-child {
  padding: 7px 2px 7px 7px;
}
footer .left > div:nth-child(2) {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: small;
}
footer .left > div:last-child {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* footer central */
footer .central {
  flex: 1 0 110px;
  max-width: 800px;
  width: 900px;
  min-width: 110px;
  font-size: 1.3rem;
}
.central .center.up {
  flex: 1 0 130px;
  max-width: 250px;
  margin: auto;
  display: flex;
  font-size: 1em;
  padding: 10px;
  vertical-align: middle;
  justify-content: space-around;
}
.central .center.down hr:first-child {
  font-weight: 250;
  float: left;
  width: 18%;
}
.central .center.down hr:last-child {
  float: left;
  width: 82%;
  border-color: rgb(43, 43, 43);
}
/* footer right */
footer .right {
  font-size: 0.8rem;

  margin-left: 1rem;
  align-items: center;
  flex: 0 1 200px;
  display: flex;
  justify-content: space-around;

  min-width: calc(90px - 1rem);
}
footer .right div:first-child {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-right: 0.3rem;
  width: calc(50% - 1rem);
  min-width: 20px;
}
footer .right div:first-child i {
  margin-right: 0.3rem;
}
footer .right div:last-child {
  width: calc(50% - 1rem);
  min-width: 20px;
}
footer .right div:last-child hr:first-child {
  font-weight: 300;
  float: left;
  width: 40%;
}
footer .right div:last-child hr:last-child {
  float: left;
  width: 60%;
  border-color: rgb(43, 43, 43);
}

/* UTILITIES */
.flex {
  display: flex;
}
.mr05 {
  margin-right: 0.5rem;
}
.mt05 {
  margin-top: 0.5rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1100px) {
  .cards .card {
    flex: 0 1 auto;
    margin: 0.5rem 0.5rem;
    width: calc((100% / 4) - 1rem);
  }
}
@media screen and (max-width: 800px) {
  .cards .card {
    flex: 0 1 auto;
    margin: 0.5rem 0.5rem;
    width: calc((100% / 2) - 1rem);
  }
}
@media screen and (max-width: 500px) {
  :root {
    --header-width: 50px;
  }
  .one {
    display: none;
  }
  .two {
    visibility: visible;
  }
  header hr {
    visibility: hidden;
  }
  .cards .card {
    flex: 0 1 auto;
    margin: 0.5rem 0.5rem;
    width: calc((100% / 2) - 1rem);
  }
  .navUp,
  .navDown {
    display: none;
  }
  hr {
    color: black;
  }
  .navHidden {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navHidden {
    height: 100%;
  }
  .navHidden img {
    display: inline-block;
    margin: 0.5rem auto;
    width: 30px;
    height: 30px;
  }
  .navHidden div {
    width: 100%;
    padding: 4px;
  }
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    float: left;
    width: var(--header-width);
    height: 100%;
    font-size: 1.1rem;
  }
  footer .central {
    font-size: 1rem;
  }
}
