* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  color: white;
  --header-width: 200px;
  --footer-height: 60px;
  --banner-height: 60px;
}

/* CONTAINER */

body > div:first-child {
  height: calc(100vh - var(--footer-height));
  width: 100%;
}
body > div:last-child {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* NAVIGATORE */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  float: left;
  width: var(--header-width);
  height: 100%;
  font-size: 1.2rem;
}

.logo {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 1rem 2.5rem;
  margin-bottom: 0.5rem;
}
header div ul li {
  margin-bottom: 0.5rem;
}
header div ul li a img {
  width: 1.4625rem;
  height: 1.3rem;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}

/* MAIN */
main {
  text-decoration: none;
  align-self: flex-end;
  width: calc(100% - var(--header-width));
  height: 100%;
  float: left;
}
.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--banner-height);
  width: 100%;
  background-color: rgb(8, 11, 11);
}
.banner .button {
  font-size: 0.8em;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  border: 1.5px solid white;
  padding: 0.55rem 3rem 0.55rem 3rem;
  z-index: 2;
}
.content {
  background-color: rgb(20, 25, 25);
  height: calc(100% - var(--banner-height));
  overflow-y: auto;
  width: 100%;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  height: var(--footer-height);
  width: 100%;
  background-color: rgb(40, 40, 40);
  z-index: 1;
}
/* footer left */
footer .left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 1 200px;
  min-width: 90px;
  margin-right: 1.5rem;
}
footer .left > div:first-child {
  padding: 7px 2px 7px 7px;
}
footer .left > div:nth-child(2) {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: small;
}
footer .left > div:last-child {
  margin-right: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* footer central */
footer .central {
  flex: 1 0 110px;
  max-width: 800px;
  width: 900px;
  min-width: 110px;
}
.central .center.up {
  flex: 1 0 130px;
  max-width: 250px;
  margin: auto;
  display: flex;
  font-size: 1.2em;
  padding: 10px;
  vertical-align: middle;
  justify-content: space-around;
}
.central .center.down hr:first-child {
  font-weight: 300;
  float: left;
  width: 18%;
}
.central .center.down hr:last-child {
  float: left;
  width: 82%;
  border-color: rgb(43, 43, 43);
}
/* footer right */
footer .right {
  margin-left: 1rem;
  align-items: center;
  flex: 0 1 200px;
  display: flex;
  justify-content: flex-end;
  min-width: calc(90px - 1rem);
}
footer .right div:first-child {
  display: flex;
  justify-content: space-around;
  margin-right: 0.3rem;
  width: calc(50% - 1rem);
  min-width: 20px;
}
footer .right div:first-child i {
  margin-right: 0.3rem;
}
footer .right div:last-child {
  width: calc(50% - 1rem);
  min-width: 20px;
}
footer .right div:last-child hr:first-child {
  font-weight: 300;
  float: left;
  width: 40%;
}
footer .right div:last-child hr:last-child {
  float: left;
  width: 60%;
  border-color: rgb(43, 43, 43);
}

/* UTILITIES */
.flex {
  display: flex;
}
.mr05 {
  margin-right: 0.5rem;
}
.mt05 {
  margin-top: 0.5rem;
}
